.page{
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 3rem 1rem;
}

.whySection{
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.whyTitle{
    max-width: 1100px;
    font-family: "Montserrat", sans-serif;
    font-weight: 900;
    font-size: clamp(36px, 6vw, 78px);
    line-height: 1.2;
    text-align: center;
    color:rgba(16, 160, 204, 1);
    margin: 0 0 3rem 0;
}
.robPic{
  position: relative;
  width: fit-content;
  margin: 0 auto;
  background-image:url("../../../../assets/robot.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 60vh;
  width:30vw;
  min-width:300px;
  z-index: 2;
}
.robPic::before {
  content: "";
  position: absolute;
  inset: 0;

  background-image: url("../../../../assets/robot.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  z-index: 2;    
  pointer-events: none;
}

/* .robot {
  width: 1200px;
  max-width: 90vw;
  display: block;
}*/
 .chatBox{
  position: relative;
  background: rgba(74, 163, 216, 1);
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 600;
  line-height: 1.4;
  max-width: 20rem;
  min-width: 7rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 2rem;
  padding-bottom: 2rem;
  z-index: 1;
}

.chat-1 {
  top: calc(81px + 1vh);     
  right: calc(240px + 1vw);  
  border-radius: 24px 100px 24px 24px;
}

.chat-2{ top: 5vh; 
  left: 30vw; 
  border-radius: 100px 24px 24px 24px; 
}

.chat-3 {
  top: calc(162px + 1.5vh); 
  right: calc(220px + 1vw);
  border-radius: 24px 24px 100px 24px;
}

.chat-4{ 
  top:10vh; 
  left: 28vw; 
  border-radius: 24px 24px 24px 100px; 
} 


@media(max-width:840px){
  .robPic::before {
    z-index: 100;
  }

  .chatBox {
    z-index: 1;
    opacity: 0.9; 
    font-size: 12px;
  }
  .chat-1,
  .chat-3 {
    right: calc(200px + 2vw);
    text-align: left;
  }

  .chat-2,
  .chat-4 {
    left: calc(220px + 2vw);
    text-align: right;
  }

}
/* @media (max-width: 1100px) {
  .chat-1 {
    
  }
  .chat-2 {

  }
  .chat-3 {

  }
  .chat-4 { 

  }

  .chatBox {
    position: static;
    transform: none;
    white-space: normal;
    text-align: center;
    max-width: 90%;
  }
}  */

/* 
.chatBox {
  position: absolute;

  max-width: 380px;
  padding: 12px 32px;

  background: rgba(74, 163, 216, 1);
  color: #fff;

  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 600;
  line-height: 1.4;

  display: inline-flex;
  align-items: center;

  box-shadow: 0 10px 30px rgba(0,0,0,0.12);
  white-space: nowrap;
  z-index: 3;
}

.chat-1 {
  top: 26%;
  left: 0;
  transform: translateX(-110%);
  border-radius: 100px 24px 24px 100px;
}

.chat-2 {
  top: 30%;
  right: 0;
  transform: translateX(110%);
  border-radius: 24px 100px 100px 24px;
}

.chat-3 {
  top: 58%;
  left: 0;
  transform: translateX(-110%);
  border-radius: 100px 24px 24px 100px;
}

.chat-4 {
  top: 62%;
  right: 0;
  transform: translateX(110%);
  border-radius: 24px 100px 100px 24px;
}*/